html
    head
        script(src="js/admin.js" type="text/javascript")
        style(rel="stylesheet" href='css/style.css')
    body
        span Create:
        form(id="createPost")
            label Title:
                input(type="text" name="Title")
            label subTitle:
                input(type="text" name="subTitle")
            label author:
                input(type="text" name="Author")
            label postBody:
                input(type="text" name="PostBody")
            button(type="submit" value="Get new Post!")



            
            